extends base.jade

block title
    title Reblog - post blog

block content
  .row
    .col-lg-12
      form(method="post" action="/admin/blog/#{blog._id}")
        input(class="form-control post-title post-com" type="text" value="#{blog.title}" name="title" required="required" placeholder="write title here ..")
        legend
        div.suMarkdown
          textarea(id="content_hidden" style="display:none")= blog.content
          include suMarkdown.jade

        .tag-area.post-com
          span.tag-info
            i.glyphicon.glyphicon-tag
            | &nbsp;fkf
          span.tag-info
            i.glyphicon.glyphicon-tag
            | &nbsp;fkf
        input(id="tag-input" name="tags" class="form-control post-com" type="text" placeholder="write tag here separate with blank space" value="#{blog.tags.join(' ')}")

        button(id="post-btn" type="submit" class="post-com btn btn-primary") SUBMIT

block scripts
  script(src="/bower/highlightjs/highlight.pack.js")
  script.
    hljs.initHighlightingOnLoad();
  script(src="/bower/marked/marked.min.js")
  script(src="/suMarkdown/js/suMarkdown.js")
  script(src="/javascripts/main.js")
  script.
    var blogContent = $('#content_hidden').val();

    $('#content_editor').val($('#content_hidden').val())
    $('.suPreview').html(marked(blogContent));
