extends base.jade

block title
  title reblog - manage blogs

block content
  // Page Heading
  .row
    .col-lg-12
      h1.page-header
        | Manage Blogs 
        small Overview
      ol.breadcrumb
        li.active
          i.fa.fa-dashboard
            a(href="/admin/index")
              |  Dashboard
        li.active
          i.fa.fa-table
            | manage blog
  .row
      .col-lg-12
        table.table.table-hover
          thead
            tr
              th #
              th title
              th PV
              th Date
              th Ctrl
          tbody
            each blog, index in blogs
              tr
                th(scope='row')= index+1
                td= blog.title
                td= blog.pv
                td= blog.time.day + ' ' + blog.time.minute
                td 
                  button(type="button" onclick="window.location.href=\"/admin/blog/" + blog._id + "\"" class="btn btn-success blog-edit") Edit
                  button(type="button" data-url="/admin/blog/" + blog._id class="btn btn-danger blog-del") Delete
block scripts
  script.
    $(function(){
      $('.blog-del').click(function(){
        if(confirm("Will delete this row")) {
          var url = $(this).data('url');
          var _this = $(this);

          $.ajax({
            type: 'delete',
            url: url,
            success: function(res) {
              if (res.success) {
                _this.parent().parent().remove();
              }
            }
          });
        }
      });
    });



