extends base.jade

block title
  title reblog - manage blogs

block content
  // Page Heading
  .row
    .col-lg-12
      h1.page-header
        | Manage Blogs 
        small Overview
      ol.breadcrumb
        li.active
          i.fa.fa-dashboard
            a(href="/admin/index")
              |  Dashboard
        li.active
          i.fa.fa-table
            | manage blog
  .row
      .col-lg-12
        table.table.table-hover
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
