extends base.jade

block title
  title reblog - manage blogs

block content
  // Page Heading
  .row
    .col-lg-12
      h1.page-header
        | Manage Blogs 
        small Statistics Overview
      ol.breadcrumb
        li.active
          i.fa.fa-dashboard
            a(href="/admin/index")
              |  Dashboard
        li.active
          i.fa.fa-table
            | manage