extends base.jade

block title
  title Reblog - post blog
block csses
  link(rel='stylesheet',href='/bower/highlightjs/styles/default.css')

block content
  .row
    .col-lg-12
      form(method="post" action="/admin/post-blog")
        input(class="form-control post-title post-com" type="text" name="title" required="required" placeholder="write title here ..")
        legend
        div.suMarkdown
          include suMarkdown.jade

        .tag-area.post-com
          span.tag-info
            i.glyphicon.glyphicon-tag
            | &nbsp;fkf
          span.tag-info
            i.glyphicon.glyphicon-tag
            | &nbsp;fkf
        input(id="tag-input" name="tags" class="form-control post-com" type="text" placeholder="write tag here separate with blank space")

        button(id="post-btn" type="submit" class="post-com btn btn-primary") SUBMIT

block scripts
  script(src="/bower/highlightjs/highlight.pack.js")
  script.
    hljs.initHighlightingOnLoad();
  script(src="/bower/marked/marked.min.js")
  script(src="/suMarkdown/js/suMarkdown.js")
  script(src="/javascripts/main.js")