extends base.jade

block title
    title Reblog - post blog

block content
  .row
    .col-lg-12
      input(class="form-control post-title post-com" type="text" name="title" placeholder="write title here ..")
      legend
      div#epiceditor
      textarea(id='content_editor' name='content' style='display:none;')
  .row
    .col-lg-12
      .tag-area.post-com
        span.tag-info
          i.glyphicon.glyphicon-tag
          | &nbsp;fkf
        span.tag-info
          i.glyphicon.glyphicon-tag
          | &nbsp;fkf
      input(id="tag-input" class="form-control post-com" type="text" placeholder="write tag here separate with blank space")
  .row
    .col-lg-12
        button(id="post-btn" type="button" class="post-com btn btn-primary") SUBMIT

block scripts
  script(src="/bower/epiceditor/epiceditor/js/epiceditor.js")
  script(src="/javascripts/main.js")