extends base.jade

block title
    title Reblog - post blog

block content
  .row
    .col-lg-12
      h1.page-header
        | Post Blogs 
        small Overview
      ol.breadcrumb
        li.active
          i.fa.fa-dashboard
            a(href="/admin/index")
              |  Dashboard
        li.active
          i.fa.fa-edit
            | post blog
  .row
    .col-lg-12
      input(class="form-control post-title post-com" type="text" name="title" placeholder="write title here ..")
      legend.post-com
      div#epiceditor
      textarea(id='content_editor' name='content' style='display:none;')

block scripts
  script(src="/bower/epiceditor/epiceditor/js/epiceditor.js")
  script(src="/javascripts/main.js")