footer
  .container
    span.bigicon.icon-speedometer
    .footerlinks
      // FOOTER LINKS START
      ul
        li
          a(href='/#hero') Home
        li
          a(href='/#about') About
        li
          a(href='/#services') Services
        li
          a(href='/#portfolio') Portfolio
        li
          a(href='/#testimonials') Testimonials
        // replace the email address below with your email address
        li
          a(href='mailto:bushen.shi@hotmial.com') Contact
    // FOOTER LINKS END
    //- .copyright
    //-   // FOOTER COPYRIGHT START
    //-   p
    //-     a(href='#') Drifolio
    //-     |  stands for Dribbble-Portolio. This is a free HTML template designed and coded by 
    //-     a(href='http://evenfly.com') EvenFly Team
    //-     | . All logo and images in this template used for preview purpose only. You are free to use the template but make sure to use your own images.
    //- // FOOTER COPYRIGHT END
    //- .footersocial.wow.fadeInUp(data-wow-duration='3s')
    //-   // FOOTER SOCIAL ICONS START
    //-   ul
    //-     li
    //-       a(href='http://facebook.com/MamunSrizon')
    //-         span.icon-social-facebook
    //-     li
    //-       a(href='http://twitter.com/MamunSrizon')
    //-         span.icon-social-twitter
    //-     li
    //-       a(href='#')
    //-         span.icon-social-youtube
    //-     li
    //-       a(href='http://dribbble.com/srizon')
    //-         span.icon-social-dribbble
    //-     li
    //-       a(href='#')
    //-         span.icon-social-tumblr

script(src='/bower/jquery/dist/jquery.min.js')
script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower/nicescroll/jquery.nicescroll.min.js')
script.
  $("html").niceScroll({
    mousescrollstep: 70,
    cursorcolor: "#ea9312",
    cursorwidth: "5px",
    cursorborderradius: "10px",
    cursorborder: "none",
  });