nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation') 
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/#hero')
        // Replace Drifolio Bootstrap with your Site Name and remove icon-grid to remove the placeholder icon
        span.brandicon.icon-grid
        span.brandname Drifolio Bootstrap
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        // YOUR NAVIGATION ITEMS STRAT BELOW
        li
          a(href='/#about')
            span.btnicon.icon-user
            | About
        li
          a(href='/#services')
            span.btnicon.icon-cup
            | Services
        li
          a(href='/#portfolio')
            span.btnicon.icon-rocket
            | Portfolio
        li
          a(href='/#testimonials')
            span.btnicon.icon-bubble
            | Testimonials
        li
          a(href='/blog' target="__blank")
            span.btnicon.icon-note
            | Blog
        // don't forget to replace my email address below with yours
        li
          a(href='mailto:bushen.shi@hotmail.com')
            span.btnicon.icon-envelope-open
            | Contact
        li.active
          a(href='')
            span.btnicon.icon-cloud-download
            | Download CV