include header.jade
body
  header
    include nav.jade

  .container.blog-info
    .col-md-10.col-md-offset-1
      h1=blog.title
        small
          i=blog.time.day
      .blog-info-content!=blog.content

include footer.jade