include header.jade
body
  header
    include nav.jade

  .container.blog-info
    .col-md-10.col-md-offset-1
      h1 my first name
        small
          i 2010-10-20
      .blog-info-content
        p slkjfldskjfsdlkj  kdjflksj sdlkfj sdlfkjdsf

include footer.jade